<h1>@<%= current_user.username %>'s Feed</h1>

<p>Here is what everyone  has been doodling!!!</p>

<div>
<%= @following_doodles.each do |doodle| %>
   <div>
    <p><%= doodle.message %></p>
    <p>@<%= doodle.user.username %></p>
   </div>
  <% end %>
</div>